<div class="d-flex flex-column flex-shrink-0 ps-2" style="width: 5rem;">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center gap-4 pt-3 pe-2 ps-2 pb-3 rounded-3 mt-2" style="background-color: #121212;">
        <li class="nav-item">
            <i class="bi bi-house-door fs-4" pTooltip="Home" routerLink="/"></i>
        </li>
        <!-- <li class="nav-item">
            <i class="bi bi-search fs-4" pTooltip="Search"></i>
        </li> -->
    </ul>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center gap-4 pt-3 pe-2 ps-2 pb-3 rounded-3 mt-2"
        style="background-color: #121212;">
        <li class="nav-item">
            <i class="bi bi-music-note-list fs-4" pTooltip="Playlists"></i>
        </li>
        <li class="nav-item">
            <i class="bi bi-search fs-4"></i>
        </li>
        <li class="nav-item">
            <i class="bi bi-search fs-4"></i>
        </li>
    </ul>
</div>