<div class="position-absolute h-100 pt-2" style="width: 92.5%;">
    <div class="container-fluid w-100 h-100 p-0 rounded-3 overflow-x-hidden overflow-y-scroll" style="background-color: #121212;">
        @if (loader == false && errors == false) {
            <div class="container-fluid text-white rounded-3"
                style="background: linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(30, 30, 30, 1) 100%); padding-top: 4rem;">
                <h3 class="circular-bold">{{'search.title' | translate}} {{query}}</h3>
                <p class="circular text-white-50" style="font-size: small;">{{'search.subtitle' | translate}}</p>
                <hr class="opacity-25">
            </div>
            
            <div class="container-fluid mt-3">
                <div class="d-flex gap-2 flex-wrap w-100">
                    @for (item of results; track $index) {
                        <div class="flex-item w-100">
                            <div class="card border-0 rounded-2 overflow-hidden">
                                <div class="row ps-2 pe-3">
                                    <div class="col-auto p-0">
                                        @defer {
                                            <img src="{{item.thumbnails[1].url}}" style="width: auto; height: 64px; object-fit: cover;" />
                                        }
                                        @loading (after 100ms; minimum 1s) {
                                            <div class="d-flex justify-content-center align-items-center">
                                                <div class="spinner-border text-white spinner-border-sm" role="status"></div>
                                            </div>
                                            
                                        }
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        <div class="row">
                                            <p class="circular m-0 text-white">{{item.name}}</p>
                                            <div class="d-flex gap-1 align-items-center">
                                                <p class="card-title mb-0 text-white-50" style="font-size: small;">Song</p>
                                                <h4 class="mb-0 text-light-emphasis">·</h4>
                                                <p class="card-title mb-0 text-white text-break" style="font-size: small;">{{item.album.name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto d-flex align-items-center">
                                        <a class="text-decoration-none text-black style-btn">
                                            <i class="bi bi-play-fill fs-4"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        @else if (errors == false && loader === true) {
            <div class="d-flex flex-column w-100 h-100 justify-content-center align-items-center">
                <h3 class="circular text-white">{{'search.loader.title' | translate}}</h3>
                <p class="m-0 text-white-50" style="font-size: small;">{{'search.loader.subtitle' | translate}}</p>
            </div>
        }
        @else {
            <div class="d-flex flex-column w-100 h-100 justify-content-center align-items-center">
                <img src="assets/svg/am_error_icon_searchpage.svg" style="width: auto; height: 25vh;">
                <h3 class="circular mt-2 text-white">{{'search.error_message.title' | translate}}</h3>
                <h6 class="m-0 circular text-white-50">{{'search.error_message.subtitle' | translate}}</h6>
            </div>
        }
    </div>
</div>