.flex-item>.card {
    background-color: #181818;
    transition: all .3s;
}

.flex-item>.card:hover {
    background-color: #202020;
}

.style-btn {
    cursor: pointer;
    background-color: #E82C2C;
    padding: 5px 11px;
    border-radius: 50%;
    transition: all 0.3s;
}

.style-btn:hover {
    transform: scale(1.1);
}