
.style-btn{
    cursor: pointer;
    background-color: #ffffff;
    padding: 1px 6.5px;
    border-radius: 50%;
    transition: all 0.3s;
}

.style-btn:hover{
    transform: scale(1.1);
}

.style-btn-2 {
    cursor: pointer;
    transition: all 0.3s;
}

.style-btn-2:hover {
    color: #fff;
    border-radius: 50%;
}

.text-player{
    color: #b2b2b2;
}
